<div class="container">
  <div class="row">
    <div class="maypage-main">
      <h5 style="background-color: #e6e6e6; text-align: center;">マイページ</h5>
      <div class="mypage-flex-group ">
      <table class='table'>
     <tr>
	   <th>名前</th>
	   <th><%= @user.name %></th>
     </tr>
     <tr>
    <th>follows</th>

  </tr>
  <tr>
    <th>followers</th>

  </tr>
     </table>
     <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
     <% end %>

     </div>
  </div>
</div>
