<h1 class="about"></h1>
  <div style="text-align: center">
    <p class="about">
      日々の頑張りを記録するサイトです</p>
  <div style="text-align: center">
    <%= image_tag 'about.jpeg',:size =>'1440x700' %>
  </div>
