<div class= "about">
<div style="text-align: center">
    <p class="text-white ">日々の頑張りを記録するサイトです</p>
    <p class="text-white ">学習や継続していること、内容に関しては何でも大丈夫です</p>
    <p class="text-white ">日々の努力をサイトに投稿する形で記録し、</p>
    <p class="text-white ">また頑張っている人同士のコミュニケーションの場としても役立てたらと思います</p>
    <p class="text-white ">このサイト名の由来は努力（Effort）の時間（Time)から考えました。</p>
 </div>
 </div>
