// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  margin: 0;
  padding: 0;
  background-image: image-url('book.jpg');
  background-size:cover;
}

.title {
  font-family: sans-serif;
  padding: 0;
  text-align: center;
  color: #fff;
}

.text-white {
  font-family: sans-serif;
  text-align: center;
}

.container-bgimage {
  height: 100vh; /* 全画面表示 */
  background-image: image-url('study.jpg');
  background-size:cover;
  background-attachment: fixed;
  background-position: center center;
}

.about {
  height: 100vh; /* 全画面表示 */
  background-image: image-url('about.jpg');
  background-size:cover;
  background-attachment: fixed;
  background-position: center center;
}

.footer {
   margin: 0;
   margin-left: auto;
   margin-right: auto;
}