// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.submit_btn{
    padding: 10px 10px;
    background-color:#191970;
    color: #fff;
    border-style: none;
  }



.balloon {
      position: relative;
      display: inline-block;
      margin: 1.5em 0;
      padding: 20px 10px;
      min-width: 100px;
      max-width: 120%;
      color:  #fff;
      font-size: 16px;
      background: #191970	;
      border-radius: 10px;
    }

  .sentiment-score {
     background-color: #32CD32;
     font-weight: 500;
     display: inline;
     padding: .2em .6em .3em;
     font-size: 75%;
     font-weight: bold;
     line-height: 1;
     color: #fff;
     text-align: center;
     white-space: nowrap;
     vertical-align: baseline;
     border-radius: .25em;
  }

  .col-md-3 {
    padding: 30px;
  }

  .justify-content-md-center {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}