<div class='container px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
       <h2 style="background-color:#191970; text-align: center;">
         <p class="text-white ">Effort Time</p>
        </h2>
       <%= render 'form', report: @report %>
    </div>
      <%= render 'index', reports: @reports%>
　　</div>
  </div>
</div>
